:root {
    --header-text-color: #282b42;
    --text-color: #727483;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    text-align: left;
    position: relative;
    line-height: 1.5em;
    color: var(--text-color);
    background-color: white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

div {
    border-radius: 10px;
}

h1, h3, h4, h5 {
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    color: var(--header-text-color);
}

h2 {
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--header-text-color);
}

.content-subsection-heading {
    margin-bottom: 32px;
}

p {
    color: var(--text-color);
}

#mainNav {
    font-weight: 400;
    margin-bottom: 0;
    background-color: white;
}

#mainNav.navbar-shrink {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,.06), 0px 1px 2px 0px rgba(0,0,0,.04);
}

a, .navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}

#mainNav a:hover, #intro-scroll:hover, .banner-social-buttons a:hover {
    color: var(--header-text-color);
}

@media (min-width: 992px) { /* large screens */
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.masthead {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 128px;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}

.masthead .intro-body .brand-heading {
    font-size: 80px;
    line-height: 1.1;
}

.masthead .intro-body .intro-text {
    color: var(--text-color);
    font-size: 22px;
    margin-top: 1rem;
}

.intro-body, #intro-scroll {
    animation: fadeInUp 1s;
}

.btn-circle {
    text-align: center;
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 38px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: var(--text-color);
    border-radius: 100%;
    background: transparent;
}

.btn-circle:focus,
.btn-circle:hover {
    outline: none;
    background-color: var(--text-color);
}

#intro-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-section {
    display: flex;
    align-items: center;
    min-height: calc(75vh);
}

.content-subsection {
    margin-top: 75px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 15px 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.portfolio-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.25);
}

.portfolio-item .card-image {
    margin: 20px 20px 0px 20px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.portfolio-item .card-image-contain {
    background-size: contain;
}

.project-inner {
    padding: 1.5rem;
}

.project-inner p {
    margin-bottom: 0;
}

.portfolio-item:hover .project-info {
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
}

.portfolio-item:hover .project-text {
    bottom: 50%;
    transform: translateY(50%);
    visibility: visible;
}

.project-info, .project-text {
    position: absolute;
    visibility: hidden;
    left: 0;
    right: 0;
    transition: all 0.3s;
}

.project-info {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    top: 0;
    bottom: 0;
}

.project-text {
    text-align: center;
    font-size: 1.5rem;
    bottom: 25%;
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    height: 300px;
    border-radius: 10px;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-text-color: #f6f1f4;
        --text-color: #b8b7d1;
    }
    body {
        background-color: #23273a;
    }

    #mainNav {
        background-color: #23273a;
    }

    .portfolio-item {
        background-color: #23273a;
    }
}