html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: left;
    position: relative;
    line-height: 2em;
    color: white;
    background-color: #7395AE;
}

div {
    border-radius: 3px;
}

h1, h3, h4, h5 {
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
}

h2 {
    margin-bottom: 1em;
}

p {
    color: rgba(255, 255, 255, 0.6);
}

#mainNav {
    font-weight: 400;
    margin-bottom: 0;
}

#mainNav .navbar-toggler {
    font-size: 16px;
    padding: 11px;
}

#mainNav a {
    color: white;
    background: transparent;
    transition: all 0.3s;
}

#mainNav .nav-link:hover {
    color: #023047;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.masthead {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh);
    text-align: center;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}

.masthead .intro-body .brand-heading {
    font-size: 80px;
    animation: fadeInUp 1s;
}

.masthead .intro-body .intro-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    animation: fadeInUp 1s;
}

.btn-circle {
    text-align: center;
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 38px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border-radius: 100% !important;
    background: transparent;
}

.btn-circle:focus,
.btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
}

#intro-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: fadeInUp 1s;
}

.content-section {
    padding: 100px 0;
}

ul.banner-social-buttons {
    margin-top: 0;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    flex: 1 1 33%;
    height: 200px;
    position: relative;
    text-align: center;
    margin: .5em;
    background-color: #557A95;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    background: darken(#E76C67, 10%);
}

.portfolio-item img, .project-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.project-text{
    position: absolute;
    left: 0;
    right: 0;
}

.portfolio-item:hover .project-info {
    opacity: 1;
}

.portfolio-item:hover .project-text {
    transform: translateY(0%);
}

.project-info {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s;
}

.project-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(10%);
    transition: all 0.3s;
}

.project-text p {
    margin: 0;
}

body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}