html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-align: left;
    position: relative;
    line-height: 2em;
    color: white;
    background-color: #7395AE;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

div {
    border-radius: 10px;
}

h1, h3, h4, h5 {
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
}

h2 {
    margin-bottom: 1em;
}

p {
    color: rgba(255, 255, 255, 0.6);
}

#mainNav {
    font-weight: 400;
    margin-bottom: 0;
    background-color: rgba(115, 149, 174, 1);
}

#mainNav.navbar-shrink {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,.06), 0px 1px 2px 0px rgba(0,0,0,.04);
}

a, .navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
}

#mainNav a:hover, #intro-scroll:hover, .banner-social-buttons a:hover {
    color: #023047;
}

@media (min-width: 992px) { /* large screens */
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.masthead {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh);
    text-align: center;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}

.masthead .intro-body .brand-heading {
    font-size: 80px;
}

.masthead .intro-body .intro-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
}

.intro-body, #intro-scroll {
    animation: fadeInUp 1s;
}

.btn-circle {
    text-align: center;
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 38px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border-radius: 100%;
    background: transparent;
}

.btn-circle:focus,
.btn-circle:hover {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

#intro-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-section {
    padding: 100px 0;
}

.portfolio-item {
    display: flex;
    align-items: center;
    margin: .5em;
    background-color: hsl(205, 27%, 62%);
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

.portfolio-item .card-image {
    margin-top: 15px;
    height: 300px;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.project-inner {
    padding: 30px;
}

.portfolio-item:hover .project-info {
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.portfolio-item:hover .project-text {
    transform: translateY(50%);
}

.project-info, .project-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 0.3s;
}

.project-info {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.project-text {
    transform: translateY(75%);
}

ul.banner-social-buttons {
    margin-top: 0;
}